.mainBox__content{
    display: flex;
}

.mainBox__content > div{
    padding: 2rem 1.5rem;
}

.product{
    width: min(100%, 28.4rem);
}
.product__content{
    height: max-content;
    /* position: sticky;
    top: 0; */
}

.product__img{
    width: 100%;
    border: 1px solid var(--color_lighterGray);
    border-bottom: none;
    padding: 1.5rem;
}

.product__detail{
    border-collapse: collapse;
}
.product__detail th,
.product__detail td{
    border: 1px solid var(--color_lighterGray);
    padding: 0.8rem;
}

.product__button a{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    margin-top: 2rem;
    background-color: var(--color_lightestGray);
    border: 1px solid var(--color_lighterGray);
    box-shadow: 0 0 0.8rem -0.1rem var(--color_lighterGray);
    transition: 0.3s;
}
.product__button a:hover{
    box-shadow: 0 0 1.2rem 0rem var(--color_lighterGray);
    color: var(--color_primary-hover);
}

.product_desc{
    flex: 1;
    max-width: calc(100% - 31.4rem);
    min-height: 45rem;
}

.other{
    margin-top: 4.5rem;
    /* display: none !important; */
}
.other__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1.4rem;
}
.other__heading > h4 {
    font-size: 2.8rem;
}
.other__heading > a {
    transition: 0.3s;
    color: var(--color_primary);
    text-decoration: underline;
}
.other__heading > a:hover {
    color: var(--color_primary-hover);
}



.other .swiper-slide {
    width: max-content;
}

.product_iframe{
    width: 100%;
    min-height: 45rem;
    height: 100dvh;
}

.product_iframe iframe{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .mainBox__content{
        flex-direction: column;
    }
    .product{
        width: 100%;
    }
    .product__img{
        height: 28.7rem;
    }
    .product__img img{
        object-fit: contain;
    }
    .product__detail{
        width: 100%;
    }
    .product_iframe iframe{ 
        min-height: 45rem;
        height: 70svh;
    }
    .product_desc{
        max-width: unset;
        width: 100%;
    }
}

