:root {
    --font_primary: serif;
    --font_secondary: serif;
    --color_primary: #970074;
    --color_primary-hover: #8C1D5E;
    --color_primary1: #2C66FF;
    --color_primary1-hover: #275FEA;
    --color_secondary: #081248;
    --color_black: #000000;
    --color_lightBlack: #1B1B1A;
    --color_darkerGray: #333333;
    --color_darkGray: #4A4A4A;
    --color_gray: #808080;
    --color_lightGray: #999999;
    --color_lighterGray: #CCCCCC;
    --color_lightestGray: #F5F5F5;
    --color_white: #ffffff;
}

body{
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 400;
    font-style: normal;
    color: var(--color_darkerGray);
    background-color: var(--color_white);
}

.container{
    width: min(90%, 114rem);
    margin-inline: auto;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 10;
}

@media screen and (min-width: 769px) {
    .header{
        animation: headerTop linear forwards;
        animation-timeline: view();
        animation-range-start: 100dvh;
        animation-range-end: calc(100dvh + 5rem);
    }
}

@keyframes headerTop {
    100%{
        top: -5rem;
    }
}

.header__top--bcg{
    background-color: var(--color_lightBlack);
    height: 5rem;
    display: flex;
    align-items: center;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top *{
    color: var(--color_lighterGray);
}

.header__socials{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.header__socials i{
    transition: 0.3s;
}
.header__socials a:hover i{
    color: var(--color_white);
    text-shadow: 0 0 0.2rem var(--color_lightGray);
}

.header__top--right{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.header__search{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__search--input{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    background-color: var(--color_darkerGray);
    border: 1px solid var(--color_darkGray);
    border-radius: 0.5rem;
    height: 3.4rem;
    transition: 0.3s;
}
.header__search--input:has(input:focus),
.header__search--input:has(.header__groups--dropdown.active) {
    background-color: var(--color_darkGray);
    border: 1px solid var(--color_gray);
    box-shadow: 0 0 0.4rem var(--color_gray);
}
.header__search--input:has(.header__groups--dropdown.active){
    border-bottom-right-radius: 0;
}

.header__search--input input{
    height: 100%;
    border-right: 1px solid var(--color_darkGray);
    padding-inline: 1.2rem;
    border-radius: 0.5rem 0 0 0.5rem;
}
.header__search--input:has(input:focus) input,
.header__search--input:has(.header__groups--dropdown.active) input{
    border-right: 1px solid var(--color_gray);
}

.header__search--input input::placeholder{
    color: var(--color_lightGray);
}

#headerSearchSelect{
    display: none;
}

.header__search--groups{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-inline: 1.2rem;
    position: relative;
    cursor: pointer;
}
.header__search--groups i{
    transition: 0.3s;
}
.header__search--groups:has(.header__groups--dropdown.active) i{
    transform: scale(1,-1);
}

.header__groups--dropdown{
    overflow: hidden;
    opacity: 0;
    width: calc(100% + 1.5px);
    position: absolute;
    top: 100%;
    left: -0.5px;
    z-index: 1;
    background-color: var(--color_darkGray);
    box-shadow: 0 0.4rem 0.4rem var(--color_gray);
    border-radius: 0 0 0.5rem 0.5rem;
    border: 0;
    transition: 0.3s;
}
.header__groups--dropdown.active{
    border: 1px solid var(--color_gray);
    opacity: 1;
}
.header__groups--dropdown li{
    height: 0rem;
    display: flex;
    align-items: center;
    padding-inline: 1.2rem;
    transition: 0.3s;
}
.header__groups--dropdown li:hover{
    background-color: var(--color_lightGray);
    color: var(--color_white);
}
.header__groups--dropdown.active li{
    height: 3rem;
}

.header__search--btn{
    width: 4rem;
    height: 3.4rem;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background-color: var(--color_primary);
    transition: 0.3s;
}
.header__search--btn:hover{
    background-color: var(--color_primary-hover);
    color: var(--color_white);
    text-shadow: 0 0 0.2rem var(--color_lightGray);
}

.header__lang{
    width: 5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    background-color: var(--color_lightestGray);
    border-radius: 0.5rem;
    transition: 0.3s step-end;
    position: relative;
    cursor: pointer;
}
.header__lang *{
    color: var(--color_darkerGray);
}
.header__lang:has(.header__lang--menu.active){
    transition: 0.3s step-start;
    border-radius: 0.5rem 0.5rem 0 0;
}
.header__lang i{
    font-size: 1.2rem;
    transition: 0.3s;
}
.header__lang:has(.header__lang--menu.active) i{
    transform: scale(1,-1);
}
.header__lang--menu{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: var(--color_lightestGray);
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 0.2rem 0.4rem var(--color_lighterGray);
    transition: 0.3s;
}
.header__lang--menu li{
    height: 0;
    opacity: 0;
    transition: 0.3s;
}
.header__lang--menu.active li{
    height: 3rem;
    opacity: 1;
}
.header__lang--menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__lang--menu li:hover{
    background-color: var(--color_lighterGray);
}



.header__bottom--bcg{
    box-shadow: 0 0.2rem 0.6rem var(--color_lighterGray); 
    background-color: var(--color_lightestGray);
}
.header__bottom{
    height: 6.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    /* width: 15rem; */
    height: 100%;
}
.header__logo a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 0;
}


.navbar > ul{
    display: flex;
    gap: 2.2rem;
    flex-wrap: wrap;
    align-items: center;
}

.navbar a{
    width: max-content;
    display: flex;
    align-items: center;
    height: 3.4rem;
    transition: 0.3s;
    position: relative;
}
.navbar a:hover{
    color: var(--color_primary-hover);
}
.navbar a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--color_primary-hover);
    transition: 0.3s;
}
.navbar a:hover::before{
    left: 0;
    width: 100%;
}

.navbar a i {
    padding-left: 0.6rem;
    font-size: 1.2rem;
}

.navbar__products{
    position: relative;
}
.navbar__products--list{
    width: max-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color_lightestGray);
    box-shadow: 0 0 0.5rem var(--color_lightGray);
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.navbar__products:hover .navbar__products--list{
    opacity: 1;
    pointer-events: all;
}
.navbar__products--list li {
    padding-inline: 1.5rem;
}
.navbar__products--list a {
    display: flex;
    align-items: center;
    height: 0rem;
}
.navbar__products:hover .navbar__products--list a{
    height: 3.4rem;
}
.navbar__products--list li:hover{
    background-color: var(--color_lighterGray);
}


.icon-hamburger{
    display: none;
    box-sizing: content-box;
    width: 2rem;
    height: 1.1rem;
    border-top: 3px solid var(--color_darkerGray);
    border-bottom: 3px solid var(--color_darkerGray);
    border-radius: 0.8px;
    transition: 300ms;
    position: relative;
}
.icon-hamburger::before,
.icon-hamburger::after{
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 0.5px;
    background-color: var(--color_darkerGray);
    position: absolute;
    top: 0.45rem;
    left: 0;
    transition: 300ms;
}
.icon-hamburger.active{
    border: 0;
}
.icon-hamburger.active::before{
    transform: rotate(45deg);
}
.icon-hamburger.active::after{
    transform: rotate(-45deg);
}

/*                                  E N D   H E A D E R                                 */      




.bannerSwiper .swiper-pagination-bullet{
    width: 1rem;
    height: 1rem;
    border: 2px solid #ffffff;
}
.bannerSwiper .swiper-pagination-bullet-active{
    background-color: #ffffff;
}






/*                                  S T A R T    F O O T E R                            */

.footer{
    width: 100%;
    background-color: var(--color_lightBlack);
    padding-bottom: 6rem;
}

.footer *{
    color: var(--color_lighterGray);
}

.footer__subs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 3rem 2rem;
    position: relative;
}

.footer__subs::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--color_primary);
    box-shadow: 0 0 5px var(--color_primary);
    position: absolute;
    top: 100%;
    left: 0;
}

.footer__subs--header{
    font-size: 2.8rem;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: 0.2px;
    padding-block: 1rem;
    text-align: center;
}

.footer__subs--form{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    background-color: var(--color_darkerGray);
    border: 1px solid var(--color_darkGray);
    border-radius: 0.5rem;
    height: 3.4rem;
    transition: 0.3s;
}
.footer__subs--form:has(.footer__subs--dropdown.active) {
    border-radius: 0.5rem 0.5rem 0.5rem 0rem;
}

.footer__subs--form:has(input:focus),
.footer__subs--form:has(.footer__subs--dropdown.active) { 
    background-color: var(--color_darkGray);
    border: 1px solid var(--color_gray);
    box-shadow: 0 0 0.4rem var(--color_gray);
}

#subscribeSelect{ /* bax */
    display: none;
}

.footer__subs--country{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-inline: 1.2rem;
    position: relative;
    cursor: pointer;
}
.footer__subs--country i{
    transition: 0.3s;
}
.footer__subs--country:has(.footer__subs--dropdown.active) i{
    transform: scale(1,-1);
}

.footer__subs--dropdown{
    overflow: hidden;
    opacity: 0;
    width: calc(100% + 1.5px);
    position: absolute;
    top: 100%;
    left: -0.5px;
    z-index: 1;
    background-color: var(--color_darkGray);
    box-shadow: 0 0.2rem 0.4rem var(--color_gray);
    border-radius: 0 0 0.5rem 0.5rem;
    border: 0;
    transition: 0.3s;
}
.footer__subs--dropdown.active{
    border: 1px solid var(--color_gray);
    opacity: 1;
}
.footer__subs--dropdown li{
    height: 0rem;
    display: flex;
    align-items: center;
    padding-inline: 1.2rem;
    transition: 0.3s;
}
.footer__subs--dropdown li:hover{
    background-color: var(--color_lightGray);
    color: var(--color_white);
}
.footer__subs--dropdown.active li{
    height: 3rem;
}

.footer__subs--form input{
    max-width: 20rem;
    width: 100%;
    height: 100%;
    border-inline: 1px solid var(--color_darkGray);
    padding-inline: 1.2rem;
}

.footer__subs--form:has(input:focus) input,
.footer__subs--form:has(.footer__subs--dropdown.active) input{
    border-inline: 1px solid var(--color_gray);
}

.footer__subs--btn{
    min-width: 4rem;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--color_primary);
    border-radius: 0 0.4rem 0.4rem 0;
    transition: 0.3s;
}
.footer__subs--btn:hover{
    background-color: var(--color_primary-hover);
    color: var(--color_white);
    text-shadow: 0 0 0.2rem var(--color_lightGray);
}













.footer__main{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem; /*edit*/
}

.footer__main *:not(h5){
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 300;
}

.footer__main h5{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin-bottom: 1.2rem;
}

.footer__main a{
    transition: 0.3s;
}
.footer__main a:hover{
    color: var(--color_lightestGray);
    text-decoration: underline;
} 







@media screen and (max-width: 768px) {

    /* .header{
        width: 100%;
        position: sticky;
        top: 0;
    } */
    .header.active{
        height: 100dvh;
    }
    
    .icon-hamburger{
        display: inline-block;
    }

                     /* test */
    main p:hover{
        color: red;
    }

    .header__top--bcg{
        height: 0;
        overflow: hidden;
        opacity: 0;
        order: 1;
        transition: 0.3s;
        background-color: var(--color_lighterGray);
        background-size: 100% 100%;
        background-position: 0 0;
        pointer-events: none;
    }
    .header.active .header__top--bcg{
        height: 5rem;
        opacity: 1;
        pointer-events: all;
        overflow: visible;
    }
    

    .header__socials{
        font-size: 1.8rem;
        background-color: var(--color_lightBlack);
        width: 100%;
        height: 0rem;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        transition: 0.3s;
    }
    .header.active .header__socials{
        height: 5.4rem;
    }

    .header__top--right{
        width: 100%;
        justify-content: space-between;
    }


    /* start LANG */
    /* .teymur__lang { transition: 45s } */
    .header__lang {
        width: unset;
        height: 3.4rem;
        padding-left: 1rem;
        box-shadow: 0 0 25px var(--color_lightestGray);
        transition: 0.3s ease;
        position: static;
    }

    .header__lang:has(.header__lang--menu.active){
        transition: 0.3s ease;
        border-radius: 0.5rem;
    }
    .header__lang i{
        transform: rotate(-90deg);
    }
    .header__lang:has(.header__lang--menu.active) i{
        transform: rotate(-90deg) scale(1,-1);
    }
    .header__lang--menu{
        display: flex;
        position: static;
        top: unset;
        left: unset;
        box-shadow: unset; 
    }
    
    .header__lang--menu li{
        width: 0;
    }
    .header__lang--menu.active li{
        width: 4.4rem;
        height: 100%;
    }
    /* end LANG */



    /* start Search --- clear */

    .header__top--right{
        gap: 1.2rem;
    }
    
    .header__search{
        flex-direction: row-reverse;
    }

    .header__search--input{ /* bax */
        width: 0;
        overflow: hidden;
        opacity: 0;
        order: 1;
        background-color: var(--color_darkerGray);
        border: 1px solid var(--color_darkGray);
    }
    .header__search--input.active{
        width: 85%;
        opacity: 1;
        overflow: visible;
    }

    .header__search--input:has(input:focus),
    .header__search--input:has(.header__groups--dropdown.active) {
        background-color: var(--color_darkGray);
        border: 1px solid var(--color_gray);
        box-shadow: 0 0 0.4rem var(--color_gray);
    }
    .header__search--input:has(.header__groups--dropdown.active){
        border-bottom-right-radius: 0;
    }
    
    .header__search--input input{
        width: 100%;
        height: 100%;
        border-right: 1px solid var(--color_darkGray);
        padding-inline: 5%;
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .header__search--input:has(input:focus) input,
    .header__search--input:has(.header__groups--dropdown.active) input{
        border-right: 1px solid var(--color_gray);
    }
    
    .header__search--input input::placeholder{
        color: var(--color_lightGray);
    }
    
    .header__search--groups{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0.6rem;
        padding-inline: 5%;
        position: relative;
        cursor: pointer;
    }
    .header__search--groups i{
        transition: 0.3s;
    }
    .header__search--groups:has(.header__groups--dropdown.active) i{
        transform: scale(1,-1);
    }
    
    .header__groups--dropdown{
        overflow: hidden;
        opacity: 0;
        width: calc(100% + 1.5px);
        position: absolute;
        top: 100%;
        left: -0.5px;
        background-color: var(--color_darkGray);
        box-shadow: 0 0.4rem 0.4rem var(--color_gray);
        border-radius: 0 0 0.5rem 0.5rem;
        border: 0;
        transition: 0.3s;
    }
    .header__groups--dropdown.active{
        border: 1px solid var(--color_gray);
        opacity: 1;
    }
    .header__groups--dropdown li{
        height: 0rem;
        display: flex;
        align-items: center;
        padding-inline: 1.2rem;
        transition: 0.3s;
    }
    .header__groups--dropdown li:hover{
        background-color: var(--color_lightGray);
        color: var(--color_white);
    }
    .header__groups--dropdown.active li{
        height: 3rem;
    }
    
    .header__search--btn{
        width: 4rem;
        height: 3.4rem;
        display: grid;
        place-items: center;
        border-radius: 0.5rem;
        background-color: var(--color_darkerGray);
        transition: 0.3s;
    }
    .header__search--btn:hover{
        background-color: var(--color_lightBlack);
        color: var(--color_white);
        text-shadow: 0 0 0.2rem var(--color_lightGray);
    }
    .header__search--input.active + .header__search--btn{
        background-color: var(--color_primary);
    }
    .header__search--input.active + .header__search--btn:hover{
        background-color: var(--color_primary-hover);
    }
    /* end Search */



    .header__search{
        order: 1;
    }

    .navbar{
        opacity: 0;
        width: 100%;
        height: calc(100dvh - 17rem);
        background-color: var(--color_lightestGray);
        position: fixed;
        top: 11.6rem;
        left: 0;
        overflow: auto;
        padding: 2rem 5%;
        transition: 0.3s;
        pointer-events: none;
    }
    .header.active .navbar{
        opacity: 1;
        pointer-events: all;
    }
    .navbar > ul{
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: unset;
        gap: 0.4rem;
    }
    .navbar a{
        display: flex;
        height: 3.4rem;
        position: relative;
    }

    .navbar a > i {
        transition: 0.3s;
    }

    .navbar:has(a + .navbar__products--list.active) a i {
        transform: scale(1, -1);
    }

    .navbar__products{
        position: static;
    }

    .navbar__products--list{
        width: max-content;
        display: flex;
        flex-direction: column;
        position: static;
        overflow: hidden;
        /* top: 100%;
        left: 0; */
        background-color: unset;
        box-shadow: unset;
        padding-block: unset;
        border-radius: unset;
        opacity: unset;
        transition: 0.3s;
    }
    .navbar__products--list.active{
        pointer-events: all;
    }

    
    .navbar__products--list li {
        padding-left: 1.5rem;
    }
    .navbar__products:hover .navbar__products--list a{
        height: 0rem;
    }
    .navbar__products--list a {
        height: 0rem;
        opacity: 0;
    }
    .navbar__products--list.active a{
        height: 3.4rem !important;
        opacity: 1;
    }
    .navbar__products--list li:hover{
        background-color: unset;
    }

}